html, body, .container-fluid, .row, .col-sm-9, .stacked-top, .stacked-bottom  {
    height: 100%;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}
body { 
    padding-top: 50px;
}
#map {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
}
.stacked-bottom  {
    height: 100%;
    overflow: scroll;
    padding-top: 2%;
}
#title {
        font-size: 1.2em;
        font-weight: 900;
        font-style: italic;
        color: dimgray;
}
#image {
        margin: .5em 0 .5em 0;
}
#link a {
        font-size: 1.1em;
        font-weight: 600;
        color: darkorange;
}

.panel-heading {
    text-align: center;
    width 100%;
}
#refresh {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 2;
}
.btn-refresh {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-refresh:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-primary, .btn-primary:visited, .btn-primary:focus {
    color: #f26f1e;
    background: none;
    border: 2px solid #f26f1e;
}
.btn-nav {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.btn-primary:hover {
    background: #f26f1e;
    border: 2px solid #f26f1e;
    color: white;
}
.btn-primary:active {
    background: black;
    border: 2px solid black;
    color: white;
}
#marker-nav {
    text-align: center;
    padding-bottom: 1em;
    background-color: none;
    border: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
    width: 100%;
}
p {
    color: #545454;
}
.mid-row-about {
    border-width: 0 2px 0 2px;
    border-color: black;
    border-style: solid;
}
.footer-rel {
    position: relative;
    background-color: #13427F;
    padding: .5em 0;
    text-align: center;
    font-size: 1.1em;
    
}
.footer-rel p {
    color: gainsboro;
}
.footer-rel a {
    color: #f26f1e;
}
.right-sider {
    text-align: right;
}
#post-header {
    position: relative;
    width: 100%;
    margin: 0px auto;
    height: 170px;
}
#post-header-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    padding-top: .4em;
    overflow: hidden
}
#post-header-img img {
    display: block;
    margin: auto;
}
#post-header-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 120px;  
    padding: .4em;
    overflow: scroll;
}

#quote {
    font-style: italic;
}
.proj-well {
    background-color: lightgrey;
    margin-top: 1%;
}
.panel-heading-proj {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}
.caption-map {
    color: lightgrey;
    background-color: black;
    padding: 0 .4em 0 .4em;
    margin-top: -7px;
    font-weight: 400;
    font-size: .9em;
    font-style: italic;
    margin-bottom: 5px;
}
#auth-bio {
    font-style: italic;
}

.about-well {
    background-color: lightgrey;
    margin-top: 1%;
}
.hr-div {
    border-top: 2px solid black;
}
.booma-orange {
    color: #f26f1e;
    font-weight: bold;
}
.slide-right {
    text-align: right;
}
 
@media (max-width: 768px) and (min-width: 320px) {
    .stacked-top {
        height: 35%;
        width: 108%;
        margin-left: -4%;
        position: absolute;
        top: 50px;
        
  }
    .stacked-bottom {
        position: relative;
        top: 39%;
        overflow: visible;
        width: 100%;
  }

    .mid-row-about {
        border-width: 2px 0 2px 0;
        border-color: black;
        border-style: solid;
    }
}